@mixin input {
	border: none;
	outline: 1px solid;
	width: 100%;
	color: #EC6F66;
	height: 50px;
	padding: 0 20px;
	font-size: 20px;
	transition: .35s;
	border-radius: 5px;
	&[disabled] {
		background-color: #ddd;
	}
	&:focus {
		box-shadow: 0 0 0 0.25rem rgba(253, 118, 0, 0.816);
	}
	box-sizing: border-box;  
}
@mixin select-options {
	@include input;
	appearance: none;
	option {
		text-align: center;
		&[disabled] {
			color: #fff;
			display: none;
		}
	}
}
@mixin btn($func: false) {
	$bgc: '';

	@if $func==home {
		$bgc: yellowgreen;
	}

	@else if $func==ok {
		$bgc: #FF8251;
	}

	@else if $func==delete {
		$bgc: red;
	}

	@else {
		$bgc: transparent;
	}

	&:hover {
		background-color: #fff;
		color: $bgc;
		border: 2px solid $bgc;
	}
	border: 2px solid transparent;
	background-color: $bgc;
	min-width: 130px;
	padding: 10px 15px;
	border-radius: 7px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	display: block;
	transition: .4s;
}
@mixin account-text {
	margin: 35px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 140px;
		color: #808080;
		p {
			font-size: 30px;
			text-align: center;
			line-height: 1.8;
		}
		.up-arrow {
			width: 50px;
			height: 50px;
			display: block;
			margin-right: 10px;
		}
}
